## Top 10 arrival airports in the world in 2013 (using the bookings file)

Arrival airport is the column arr_port. It is the IATA code for the airport

To get the total number of passengers for an airport, you can sum the column pax, grouping by arr_port.

Note that there is negative pax. That corresponds to cancelations. So to get the total number of passengers that have actually booked, you should sum including the negatives (that will remove the canceled bookings).

Print the top 10 arrival airports in the standard output, including the number of passengers.

Bonus point: Get the name of the city or airport corresponding to that airport (programatically, we suggest to have a look at GeoBases in Github)

Bonus point: Solve this problem using pandas (instead of any other approach)

Get familiar with data
Select the columns of interest
What to do with NaN?

Make action plan
Develop the code that works with a sample

Adjust the code to work with Big data
Test big data approach on a sample

Run program with big data

(Bonus Point)

## 0) Prepare booking Sample (we might need this for later)

In [1]:
pwd

'/home/carcrupe/repo/masterDataScience/pythonScripts/Numpy, Pandas & Matplotlib/challenge'

In [2]:
ls -l

total 1015496
-rwxrwxrwx 1 carcrupe carcrupe    478407 Dec  2 13:23 06-intro_to_pandas_practical.inclass.ipynb*
-rwxrwxrwx 1 carcrupe carcrupe    173167 Dec  2 13:24 10-11_Python_AmadChall_v18.pptx*
-rwxrwxrwx 1 carcrupe carcrupe 554970628 Nov 25 11:57 bookings.csv.bz2*
-rw-rw-rw- 1 carcrupe carcrupe    535893 Dec  9 18:43 bookings.sample.csv.bz2
-rw-rw-rw- 1 carcrupe carcrupe     17417 Dec 10 18:18 ch-4.ipynb
-rwxrwxrwx 1 carcrupe carcrupe     18340 Dec  9 18:33 ch_01-clase.ipynb*
-rwxrwxrwx 1 carcrupe carcrupe    144634 Dec  9 18:32 ch_02-clase.ipynb*
-rwxrwxrwx 1 carcrupe carcrupe     11666 Dec 13 17:21 ch_05-clase.ipynb*
-rw-rw-rw- 1 carcrupe carcrupe     63375 Dec 10 17:39 ch_3.ipynb
-rwxrwxrwx 1 carcrupe carcrupe 483188920 Nov 25 11:57 searches.csv.bz2*
-rw-rw-rw- 1 carcrupe carcrupe    244720 Dec  9 18:54 searches.sample.csv.bz2

## 1) Get familiar with data

### What if we dont want to read the whole file?

Options:
1) prepare the sample
2) read_csv with nrows option

In [3]:
import pandas as pd

In [4]:
#DON'T DO THIS!!!
b = pd.read_csv('bookings.csv.bz2',sep='^', nrows=9999)

In [5]:
b.shape

(9999, 38)

In [6]:
#otra opcion
b = pd.read_csv('bookings.sample.csv.bz2',sep='^')

In [7]:
b.shape

(9999, 38)

## Commands for obtaining data info:

In [8]:
b.head()

,act_date,source,pos_ctry,pos_iata,pos_oid,rloc,cre_date,duration,distance,dep_port,...,route,carrier,bkg_class,cab_class,brd_time,off_time,pax,year,month,oid
0,2013-03-05 00:00:00,1A,DE,a68dd7ae953c8acfb187a1af2dcbe123,1a11ae49fcbf545fd2afc1a24d88d2b7,ea65900e72d71f4626378e2ebd298267,2013-02-22 00:00:00,1708,0,ZRH,...,LHRZRH,VI,T,Y,2013-03-07 08:50:00,2013-03-07 11:33:37,-1,2013,3,NULL
1,2013-03-26 00:00:00,1A,US,e612b9eeeee6f17f42d9b0d3b79e75ca,7437560d8f276d6d05eeb806d9e7edee,737295a86982c941f1c2da9a46a14043,2013-03-26 00:00:00,135270,0,SAL,...,SALATLCLT,NV,L,Y,2013-04-12 13:04:00,2013-04-12 22:05:40,1,2013,3,NULL
2,2013-03-26 00:00:00,1A,US,e612b9eeeee6f17f42d9b0d3b79e75ca,7437560d8f276d6d05eeb806d9e7edee,737295a86982c941f1c2da9a46a14043,2013-03-26 00:00:00,135270,0,SAL,...,CLTATLSAL,NV,U,Y,2013-07-15 07:00:00,2013-07-15 11:34:51,1,2013,3,NULL
3,2013-03-26 00:00:00,1A,AU,0f984b3bb6bd06661c95529bbd6193bc,36472c6dbaf7afec9136ac40364e2794,5ecf00fdcbcec761c43dc7285253d0c1,2013-03-26 00:00:00,30885,0,AKL,...,AKLHKGSVO,XK,G,Y,2013-04-24 23:59:00,2013-04-25 16:06:31,1,2013,3,SYDA82546
4,2013-03-26 00:00:00,1A,AU,0f984b3bb6bd06661c95529bbd6193bc,36472c6dbaf7afec9136ac40364e2794,5ecf00fdcbcec761c43dc7285253d0c1,2013-03-26 00:00:00,30885,0,AKL,...,SVOHKGAKL,XK,G,Y,2013-05-14 20:15:00,2013-05-16 10:44:50,1,2013,3,SYDA82546

In [9]:
pd.set_option('display.max_columns', None)

In [10]:
b.head()

,act_date,source,pos_ctry,pos_iata,pos_oid,rloc,cre_date,duration,distance,dep_port,dep_city,dep_ctry,arr_port,arr_city,arr_ctry,lst_port,lst_city,lst_ctry,brd_port,brd_city,brd_ctry,off_port,off_city,off_ctry,mkt_port,mkt_city,mkt_ctry,intl,route,carrier,bkg_class,cab_class,brd_time,off_time,pax,year,month,oid
0,2013-03-05 00:00:00,1A,DE,a68dd7ae953c8acfb187a1af2dcbe123,1a11ae49fcbf545fd2afc1a24d88d2b7,ea65900e72d71f4626378e2ebd298267,2013-02-22 00:00:00,1708,0,ZRH,ZRH,CH,LHR,LON,GB,ZRH,ZRH,CH,LHR,LON,GB,ZRH,ZRH,CH,LHRZRH,LONZRH,CHGB,1,LHRZRH,VI,T,Y,2013-03-07 08:50:00,2013-03-07 11:33:37,-1,2013,3,NULL
1,2013-03-26 00:00:00,1A,US,e612b9eeeee6f17f42d9b0d3b79e75ca,7437560d8f276d6d05eeb806d9e7edee,737295a86982c941f1c2da9a46a14043,2013-03-26 00:00:00,135270,0,SAL,SAL,SV,CLT,CLT,US,SAL,SAL,SV,SAL,SAL,SV,CLT,CLT,US,CLTSAL,CLTSAL,SVUS,1,SALATLCLT,NV,L,Y,2013-04-12 13:04:00,2013-04-12 22:05:40,1,2013,3,NULL
2,2013-03-26 00:00:00,1A,US,e612b9eeeee6f17f42d9b0d3b79e75ca,7437560d8f276d6d05eeb806d9e7edee,737295a86982c941f1c2da9a46a14043,2013-03-26 00:00:00,135270,0,SAL,SAL,SV,CLT,CLT,US,SAL,SAL,SV,CLT,CLT,US,SAL,SAL,SV,CLTSAL,CLTSAL,SVUS,1,CLTATLSAL,NV,U,Y,2013-07-15 07:00:00,2013-07-15 11:34:51,1,2013,3,NULL
3,2013-03-26 00:00:00,1A,AU,0f984b3bb6bd06661c95529bbd6193bc,36472c6dbaf7afec9136ac40364e2794,5ecf00fdcbcec761c43dc7285253d0c1,2013-03-26 00:00:00,30885,0,AKL,AKL,NZ,SVO,MOW,RU,AKL,AKL,NZ,AKL,AKL,NZ,SVO,MOW,RU,AKLSVO,AKLMOW,NZRU,1,AKLHKGSVO,XK,G,Y,2013-04-24 23:59:00,2013-04-25 16:06:31,1,2013,3,SYDA82546
4,2013-03-26 00:00:00,1A,AU,0f984b3bb6bd06661c95529bbd6193bc,36472c6dbaf7afec9136ac40364e2794,5ecf00fdcbcec761c43dc7285253d0c1,2013-03-26 00:00:00,30885,0,AKL,AKL,NZ,SVO,MOW,RU,AKL,AKL,NZ,SVO,MOW,RU,AKL,AKL,NZ,AKLSVO,AKLMOW,NZRU,1,SVOHKGAKL,XK,G,Y,2013-05-14 20:15:00,2013-05-16 10:44:50,1,2013,3,SYDA82546

In [11]:
b.sample(5)

,act_date,source,pos_ctry,pos_iata,pos_oid,rloc,cre_date,duration,distance,dep_port,dep_city,dep_ctry,arr_port,arr_city,arr_ctry,lst_port,lst_city,lst_ctry,brd_port,brd_city,brd_ctry,off_port,off_city,off_ctry,mkt_port,mkt_city,mkt_ctry,intl,route,carrier,bkg_class,cab_class,brd_time,off_time,pax,year,month,oid
1674,2013-03-06 00:00:00,1S,US,2284075d993c1b4f66da800c382e9582,e168b241c7c0c27c12fbd5795a10a7cf,d04375f3e86465aacbe0df9ba1325eb1,2013-03-06 00:00:00,5880,0,IAH,HOU,US,SFO,SFO,US,IAH,HOU,US,IAH,HOU,US,SFO,SFO,US,IAHSFO,HOUSFO,USUS,0,IAHPHXSFO,FD,W,Y,2013-03-09 21:05:00,2013-03-10 00:51:47,3,2013,3,NULL
7469,2013-03-28 00:00:00,1A,NL,7abd43a771cd34bab964430e59d01622,57912331fc56f4a79f812eb0cc453f04,169fa91b4e7bfc58fee30128a353cab6,2013-03-28 00:00:00,18681,0,BSR,BSR,IQ,AMS,AMS,NL,BSR,BSR,IQ,BSR,BSR,IQ,AMM,AMM,JO,AMMBSR,AMMBSR,IQJO,1,BSRAMM,CT,R,Y,2013-04-01 08:45:00,2013-04-01 10:51:50,1,2013,3,NULL
9148,2013-03-23 00:00:00,1P,US,0f143d9c74dda72c604ae5e5abdf88b5,b624a1c2b75d85621aa416698ababe66,3330867a509ff094df3feab9adb000c9,2013-03-20 00:00:00,5308,0,EUG,EUG,US,SAT,SAT,US,EUG,EUG,US,EUG,EUG,US,SAT,SAT,US,EUGSAT,EUGSAT,USUS,0,EUGSLCSAT,NV,U,Y,2013-05-12 06:15:00,2013-05-12 13:41:23,-2,2013,3,NULL
134,2013-03-09 00:00:00,1S,US,7e22f22aff7bd6231f3362bcfe4bc267,511e02785b75341fc3d0e6857e650426,d69a5b2673b3da811558794657ffe357,2013-03-05 00:00:00,6653,0,FAT,FAT,US,ELP,ELP,US,FAT,FAT,US,ELP,ELP,US,FAT,FAT,US,ELPFAT,ELPFAT,USUS,0,ELPDENFAT,FK,K,Y,2013-06-17 18:50:00,2013-06-17 22:53:34,-3,2013,3,NULL
3710,2013-03-12 00:00:00,1A,BE,9e374d50da550b80138b5e4338917cd1,4b75627c7b1f06a1e4de5dfb34bc31d4,9817baf053f14185c2ee151e96bbbea3,2013-03-12 00:00:00,3476,0,BRU,BRU,BE,BLL,BLL,DK,BRU,BRU,BE,BRU,BRU,BE,BLL,BLL,DK,BLLBRU,BLLBRU,BEDK,1,BRUBLL,LK,M,Y,2013-03-18 09:25:00,2013-03-18 10:56:47,1,2013,3,BRUEC38DD

In [12]:
b.dtypes

act_date               object
source                 object
pos_ctry               object
pos_iata               object
pos_oid                object
rloc                   object
cre_date               object
duration                int64
distance                int64
dep_port               object
dep_city               object
dep_ctry               object
arr_port               object
arr_city               object
arr_ctry               object
lst_port               object
lst_city               object
lst_ctry               object
brd_port               object
brd_city               object
brd_ctry               object
off_port               object
off_city               object
off_ctry               object
mkt_port               object
mkt_city               object
mkt_ctry               object
intl                    int64
route                  object
carrier                object
bkg_class              object
cab_class              object
brd_time               object
off_time               object
pax                     int64
year                    int64
month                   int64
oid                    object
dtype: object

In [13]:
b.describe()

            duration      distance         intl          pax    year   month
count    9999.000000   9999.000000  9999.000000  9999.000000  9999.0  9999.0
mean    20209.746075    455.608861     0.596260     0.516152  2013.0     3.0
std     42243.233482   1738.891068     0.490671     1.783970     0.0     0.0
min        59.000000      0.000000     0.000000   -25.000000  2013.0     3.0
25%      3339.000000      0.000000     0.000000    -1.000000  2013.0     3.0
50%      7721.000000      0.000000     1.000000     1.000000  2013.0     3.0
75%     19077.000000      0.000000     1.000000     1.000000  2013.0     3.0
max    488131.000000  18481.000000     1.000000    25.000000  2013.0     3.0

In [14]:
b.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9999 entries, 0 to 9998
Data columns (total 38 columns):
act_date               9999 non-null object
source                 9999 non-null object
pos_ctry               9999 non-null object
pos_iata               9999 non-null object
pos_oid                9999 non-null object
rloc                   9999 non-null object
cre_date               9999 non-null object
duration               9999 non-null int64
distance               9999 non-null int64
dep_port               9999 non-null object
dep_city               9999 non-null object
dep_ctry               9999 non-null object
arr_port               9999 non-null object
arr_city               9999 non-null object
arr_ctry               9999 non-null object
lst_port               9999 non-null object
lst_city               9999 non-null object
lst_ctry               9999 non-null object
brd_port               9999 non-null object
brd_city               9999 non-null object
brd_ctry               9999 non-null object
off_port               9999 non-null object
off_city               9999 non-null object
off_ctry               9999 non-null object
mkt_port               9999 non-null object
mkt_city               9999 non-null object
mkt_ctry               9999 non-null object
intl                   9999 non-null int64
route                  9999 non-null object
carrier                9999 non-null object
bkg_class              9999 non-null object
cab_class              9999 non-null object
brd_time               9999 non-null object
off_time               9999 non-null object
pax                    9999 non-null int64
year                   9999 non-null int64
month                  9999 non-null int64
oid                    9999 non-null object
dtypes: int64(6), object(32)
memory usage: 2.9+ MB

In [15]:
! bzcat ./bookings.sample.csv.bz2 | head -2

act_date           ^source^pos_ctry^pos_iata^pos_oid  ^rloc          ^cre_date           ^duration^distance^dep_port^dep_city^dep_ctry^arr_port^arr_city^arr_ctry^lst_port^lst_city^lst_ctry^brd_port^brd_city^brd_ctry^off_port^off_city^off_ctry^mkt_port^mkt_city^mkt_ctry^intl^route          ^carrier^bkg_class^cab_class^brd_time           ^off_time           ^pax^year^month^oid
2013-03-05 00:00:00^1A    ^DE      ^a68dd7ae953c8acfb187a1af2dcbe123^1a11ae49fcbf545fd2afc1a24d88d2b7^ea65900e72d71f4626378e2ebd298267^2013-02-22 00:00:00^1708^0^ZRH     ^ZRH     ^CH      ^LHR     ^LON     ^GB      ^ZRH     ^ZRH     ^CH      ^LHR     ^LON     ^GB      ^ZRH     ^ZRH     ^CH      ^LHRZRH  ^LONZRH  ^CHGB    ^1^LHRZRH         ^VI^T        ^Y        ^2013-03-07 08:50:00^2013-03-07 11:33:37^-1^2013^3^NULL

bzcat: I/O or other error, bailing out.  Possible reason follows.
bzcat: Broken pipe
	Input file = ./bookings.sample.csv.bz2, output file = (stdout)

In [16]:
b.columns

Index(['act_date           ', 'source', 'pos_ctry', 'pos_iata', 'pos_oid  ',
       'rloc          ', 'cre_date           ', 'duration', 'distance',
       'dep_port', 'dep_city', 'dep_ctry', 'arr_port', 'arr_city', 'arr_ctry',
       'lst_port', 'lst_city', 'lst_ctry', 'brd_port', 'brd_city', 'brd_ctry',
       'off_port', 'off_city', 'off_ctry', 'mkt_port', 'mkt_city', 'mkt_ctry',
       'intl', 'route          ', 'carrier', 'bkg_class', 'cab_class',
       'brd_time           ', 'off_time           ', 'pax', 'year', 'month',
       'oid      '],
      dtype='object')

In [17]:
list(b.columns)

['act_date           ',
 'source',
 'pos_ctry',
 'pos_iata',
 'pos_oid  ',
 'rloc          ',
 'cre_date           ',
 'duration',
 'distance',
 'dep_port',
 'dep_city',
 'dep_ctry',
 'arr_port',
 'arr_city',
 'arr_ctry',
 'lst_port',
 'lst_city',
 'lst_ctry',
 'brd_port',
 'brd_city',
 'brd_ctry',
 'off_port',
 'off_city',
 'off_ctry',
 'mkt_port',
 'mkt_city',
 'mkt_ctry',
 'intl',
 'route          ',
 'carrier',
 'bkg_class',
 'cab_class',
 'brd_time           ',
 'off_time           ',
 'pax',
 'year',
 'month',
 'oid      ']

## 2) Select the columns of interest

## 3) What to do with NaN?

in the sample everything might be ok, but we should prepare fot NaN case

In [18]:
import pandas as pd
b = pd.read_csv('bookings.sample.csv.bz2',sep='^', usecols=['arr_port','pax', 'year'])
b=b.dropna()

In [19]:
b.sample(5)

      arr_port  pax  year
2766  LHR         1  2013
9928  CMN        -1  2013
5359  SFO         1  2013
9509  OTP         1  2013
7356  JNB        -1  2013

## 4) make action plan

0) filter 2013
1) group by airport
2) sum pax
3) sort by pax ascending false
4) top10

In [20]:
import pandas as pd
b = pd.read_csv('bookings.sample.csv.bz2',sep='^', usecols=['arr_port','pax', 'year'])
b=b.dropna()
b=b[   b['year']==2013 ][['arr_port', 'pax']]

In [21]:
b.head()

   arr_port  pax
0  LHR        -1
1  CLT         1
2  CLT         1
3  SVO         1
4  SVO         1

In [22]:
import pandas as pd
b = pd.read_csv('bookings.sample.csv.bz2',sep='^', usecols=['arr_port','pax', 'year'])
b=b.dropna()
b=b[   b['year']==2013 ][['arr_port', 'pax']].groupby('arr_port').sum().sort_values('pax',ascending=False)
b.head(10)

          pax
arr_port
HKG       112
LGA        95
ORD        94
JFK        92
LAX        91
SFO        91
MCO        90
DCA        82
DEN        79
LHR        76

## 5) Adjust the code to work with Big data

What do we have so far?

In [23]:
import pandas as pd
b = pd.read_csv('bookings.sample.csv.bz2',sep='^', usecols=['arr_port','pax', 'year'])
b=b.dropna()
b=b[   b['year']==2013 ][['arr_port', 'pax']].groupby('arr_port').sum().sort_values('pax',ascending=False)
b.head(10)

          pax
arr_port
HKG       112
LGA        95
ORD        94
JFK        92
LAX        91
SFO        91
MCO        90
DCA        82
DEN        79
LHR        76

#### but... we have to read the whole file... and with nrows we are reading ALWAYS the first N rows...

Option for reading the file:  
    1) iterator=true and get_chunk  
    2) define chunk_size

#### 1) iterator=true and get_chunk

In [24]:
b_iter = pd.read_csv('bookings.sample.csv.bz2',sep='^', usecols=['arr_port','pax', 'year'], iterator=True)
b = pd.read_csv('bookings.sample.csv.bz2',sep='^', usecols=['arr_port','pax', 'year'])

In [25]:
type(b)

pandas.core.frame.DataFrame

In [26]:
type(b_iter)

pandas.io.parsers.TextFileReader

In [27]:
b_chunk=b_iter.get_chunk(3000)

In [28]:
len(b_chunk)

3000

In [29]:
type(b_chunk)

pandas.core.frame.DataFrame

In [30]:
b_chunk=b_iter.get_chunk(5000)

In [31]:
len(b_chunk)

5000

In [32]:
b_chunk=b_iter.get_chunk(50000)

In [33]:
len(b_chunk)

1999

In [34]:
b_chunk=b_iter.get_chunk(1)

StopIteration:

#### 2) define chunk size

In [ ]:
b_iter = pd.read_csv('bookings.sample.csv.bz2',sep='^', usecols=['arr_port','pax', 'year'], chunksize=3000)

In [ ]:
for i, b_chunk in enumerate(b_iter):
    print(b_chunk.head(5))
    print('-----------------')
    if i==3: 
        break

In [ ]:
import pandas as pd
b_iter = pd.read_csv('bookings.sample.csv.bz2',sep='^', usecols=['arr_port','pax', 'year'], chunksize=3000)
#b = pd.read_csv('bookings.sample.csv.bz2',sep='^', usecols=['arr_port','pax', 'year'])
all_chunks=pd.DataFrame()
for i, b_chunk in enumerate(b_iter):
    print(i)
    b=b_chunk.dropna()
    b=b[   b['year']==2013 ][['arr_port', 'pax']].groupby('arr_port').sum()
    all_chunks=all_chunks.append(b)

all_chunks=all_chunks.reset_index().groupby('arr_port').sum().sort_values('pax',ascending=False)
all_chunks.head(10)

In [ ]:
all_chunks.shape

In [ ]:
all_chunks.groupby('arr_port').sum().sort_values('pax',ascending=False)

In [ ]:
all_chunks.reset_index().head()

## Pre-Bonus Solution

In [ ]:
import pandas as pd
b_iter = pd.read_csv('bookings.sample.csv.bz2',sep='^', usecols=['arr_port','pax', 'year'], chunksize=3000)
#b = pd.read_csv('bookings.sample.csv.bz2',sep='^', usecols=['arr_port','pax', 'year'])
all_chunks=pd.DataFrame()
for i, b_chunk in enumerate(b_iter):
    print(i)
    b=b_chunk.dropna()
    b=b[   b['year']==2013 ][['arr_port', 'pax']].groupby('arr_port').sum()
    all_chunks=all_chunks.append(b)

all_chunks=all_chunks.reset_index().groupby('arr_port').sum().sort_values('pax',ascending=False).reset_index()
#all_chunks.head(10)

### Now we've got top airports

we have to install geobases o Neobase

In [ ]:
%pip install neobase

In [ ]:
import neobase as nb

In [ ]:
dir(nb)

In [ ]:
help(nb)

In [ ]:
from neobase import NeoBase

In [ ]:
help(NeoBase)

In [ ]:
geoDict=NeoBase()

In [ ]:
dir(geoDict)

In [ ]:
sorted(geoDict)

In [ ]:
type(geoDict.get('LHR'))

In [ ]:
geoDict.get('LHR')

In [ ]:
geoDict.get('LHR','name')

In [ ]:
all_chumall_chunks.reset_index().head()

### How do we remove white spaces?

In [ ]:
all_chunks.arr_port[0]

In [ ]:
all_chunks.arr_port[0].strip()

In [ ]:
all_chunks['arr_port']=all_chunks['arr_port'].str.strip()

In [ ]:
all_chunks.arr_port[0]

In [ ]:
geoDict.get('LHR','name')

### How do we put the name of each airport into the DF?

In [ ]:
geoDict.get(all_chunks.arr_port[0],'name')

In [ ]:
all_chunks['AirportName']=all_chunks['arr_port'].map(lambda x: geoDict.get(x,'name'))

In [ ]:
all_chunks.head()

## Final Solution

In [39]:
%%time
import pandas as pd
from neobase import NeoBase
geoDict=NeoBase()

#b_iter = pd.read_csv('bookings.sample.csv.bz2',sep='^', usecols=['arr_port','pax', 'year'], chunksize=3000)
b_iter = pd.read_csv('bookings.csv.bz2',sep='^', usecols=['arr_port','pax', 'year'], chunksize=10000)

all_chunks=pd.DataFrame()
for i, b_chunk in enumerate(b_iter):
    #print(i)
    b=b_chunk.dropna()
    b=b[   b['year']==2013 ][['arr_port', 'pax']].groupby('arr_port').sum()
    all_chunks=all_chunks.append(b)

all_chunks=all_chunks.reset_index().groupby('arr_port').sum().sort_values('pax',ascending=False).reset_index()
all_chunks['arr_port']=all_chunks['arr_port'].str.strip()
all_chunks=all_chunks[all_chunks['arr_port'] != 'CPQ']
all_chunks['AirportName']=all_chunks['arr_port'].map(lambda x: geoDict.get(x,'name'))
all_chunks.head(10)

CPU times: user 7min 57s, sys: 9.75 s, total: 8min 6s
Wall time: 2min 35s

  arr_port      pax                            AirportName
0      LHR  88809.0                London Heathrow Airport
1      MCO  70930.0          Orlando International Airport
2      LAX  70530.0      Los Angeles International Airport
3      LAS  69630.0         McCarran International Airport
4      JFK  66270.0  John F. Kennedy International Airport
5      CDG  64490.0        Paris Charles de Gaulle Airport
6      BKK  59460.0                   Suvarnabhumi Airport
7      MIA  58150.0            Miami International Airport
8      SFO  58000.0    San Francisco International Airport
9      DXB  55590.0            Dubai International Airport

In [40]:
print(len(all_chunks))
all_chunks=all_chunks[all_chunks['arr_port'] != 'CPQ']
print(len(all_chunks))

2273
2273

In [41]:
all_chunks['AirportName']=all_chunks['arr_port'].map(lambda x: geoDict.get(x,'name'))
all_chunks.head(10)

  arr_port      pax                            AirportName
0      LHR  88809.0                London Heathrow Airport
1      MCO  70930.0          Orlando International Airport
2      LAX  70530.0      Los Angeles International Airport
3      LAS  69630.0         McCarran International Airport
4      JFK  66270.0  John F. Kennedy International Airport
5      CDG  64490.0        Paris Charles de Gaulle Airport
6      BKK  59460.0                   Suvarnabhumi Airport
7      MIA  58150.0            Miami International Airport
8      SFO  58000.0    San Francisco International Airport
9      DXB  55590.0            Dubai International Airport

In [42]:
all_chunks=all_chunks.astype({'pax':int})

In [43]:
all_chunks.head()

  arr_port    pax                            AirportName
0      LHR  88809                London Heathrow Airport
1      MCO  70930          Orlando International Airport
2      LAX  70530      Los Angeles International Airport
3      LAS  69630         McCarran International Airport
4      JFK  66270  John F. Kennedy International Airport

In [44]:
all_chunks.to_csv('top_airports.csv', sep='^', index=False)

In [45]:
!head ./top_airports.csv

arr_port^pax^AirportName
LHR^88809^London Heathrow Airport
MCO^70930^Orlando International Airport
LAX^70530^Los Angeles International Airport
LAS^69630^McCarran International Airport
JFK^66270^John F. Kennedy International Airport
CDG^64490^Paris Charles de Gaulle Airport
BKK^59460^Suvarnabhumi Airport
MIA^58150^Miami International Airport
SFO^58000^San Francisco International Airport